*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    font-size: 16px;
}

body{
    font-family: "Roboto" ;
    line-height: 1.5 ;
    font-weight: 400;
    letter-spacing: -0.022em;
    -webkit-font-smoothing: antialiased;

    width: 100vw;
    overflow-x: hidden;
}


/* ---navbar stylng ---  */

nav{
    
    border: 1px solid rgba(211, 211, 211, 0.786);
}
.nav_wrapper,.feature_wrapper{
 
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 980px ;
    /* margint vertically is 0 and auto for horizontal */
    margin: 0 auto;
    /* background-color: green; */

    

}

.nav_wrapper{
    height: 3.5rem;
}

.menu_wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1rem;
}

.menu_wrapper--ul{
    display: flex;
    gap: 1rem;
}



/* ****************************************** */


/* components  */


.btn{
    padding: .5rem .8rem;
    background-color: #0071e3;
    color: white;
    border-radius: 980px;
    font-size: 0.8;
    font-weight: 400;
    letter-spacing: -.01em;
    border: 0px;
    align-self: center;
}

/* ****************************************** */

/* generic styling  */



/* ****************************************** */



/* main parts  */

/* features section  */

.feature_wrapper{
    /* background-color: red; */
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
    /* automatically create rows of 18.82rem  */
    grid-auto-rows: 18.82rem;
    grid-template-areas: 
    "iphone_sizes iphone_sizes iphone_battery" 
    "iphone_sizes iphone_sizes iphone_shield"
    
    ;
}

.iphone_sizes{
grid-area: iphone_sizes;
height: 100%;

}

.iphone_battery{
    grid-area: iphone_battery;
    height: 100%;
}

.ceramic_shield{
    grid-area: iphone_shield;
    height: 100%;
}

.init_card{
    background-color: rgb(246,241,241);
    border-radius: 25px;
}








